.maincongtainer {
  margin: 0 4%;
}
button {
  cursor: pointer;
}
.profilecontainer {
  height: 220px;
}

.profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
  height: 100%;
  width: 100%;
}
.profile-image {
  grid-row: 1/3;
  grid-column: 1;
  place-self: center;
  height: 150px;
  width: 150px;
}

.profile-user-settings {
  grid-column: 2/4;
  grid-row: 1/3;
  align-self: center;
}
.profile-settings-btn {
  background-color: white;
  border: 0;
}
.profile-edit-btn {
  border-radius: 2px;
  border: 0;
  padding: 5px 15px 5px 15px;
}
.user-followbtn {
  border-radius: 10px;
  border: 0;
  padding: 5px 15px 5px 15px;
  background-color: rgb(18, 218, 158);
  color: white;
}
.profile-user-name {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.profileheadingwrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
.profile-stats {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin: 5px 0px 23px 0px;
}

.profile-stat-count {
  font-weight: 700;
}

.profile-bio > p > span {
  font-weight: bold;
}
.profile-bio {
  margin-bottom: 20px;
}
.gallerycontainer {
  border-top: 1px solid rgb(193, 194, 196);
}

.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 4px;
  grid-auto-rows: 200px;
  height: 100%;
}

.gallery-item {
  position: relative;
  /* flex: 1 0 22rem; */
  /* margin: 1rem; */
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: all;
}

.gallery-item-info {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.gallery-item-info:hover {
  opacity: 1;
}
.gallery-item-likes {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery-item-comments {
  display: flex;
  align-items: center;
}

.nopostsyet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.nopostcontent {
  font-size: 18px;
  font-weight: 700;
}

/* .visually-hidden {
  visibility: visible;
} */
@media (max-width: 850px) {
  .maincongtainer {
    margin: 0% 10px;
  }
}
