.forgetpasswordmaincontainer {
  min-width: 344px;
  display: flex;
  height: fit-content;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: rgb(229, 228, 228);
  border: 1px solid #dbdbdb;
  margin-top: 16px;
}
.forgetpasswordresetmaincontainer {
  display: flex;
  height: fit-content;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: rgb(229, 228, 228);
  border: 1px solid #dbdbdb;
  margin-top: 16px;
  min-width: 450px;
}
.mainforgetpasswordcontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainresetforgetpasswordcontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.changepasswordbutton {
  text-align: center;
  background-color: rgb(0, 149, 246);
  padding: 8px 24px 8px 24px;
  color: white;
  border: 0;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 20px;
}

.resetpasswordinput {
  width: 100%;
  margin: 12px 0px 0px 0px;
  margin-top: 12px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  min-width: 250px;
}

.passwordoverlaptext > button {
  position: absolute;
  padding: 0 !important;
  background-color: white;
  border: 0;
  left: 81%;
  top: 30%;
  font-weight: 600;
}
.resetpassworderrortext {
  margin: 0px 0px 10px 0px;
  color: red;
  text-align: center;
  max-width: 250px;
}
.resetpasswordform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 6px 20px;
  width: 90%;
}
.newpasswordfield {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 130px;
}
.passwordoverlaptext {
  position: relative;
  min-width: 200px;
  margin-bottom: 4px;
}
.newpasswordfiledname {
  margin-right: 13px;
  width: 150px;
}
.redirecttologin {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: rgb(5, 5, 5);
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 12px;
}
.newpasswordfiledname > span {
  font-weight: 400;
  font-size: 14px;
}

.requestparagraph {
  text-align: center;
  width: 70%;
  color: gray;
}
.appname {
  font-size: 48px;
  line-height: 1;
  margin: 50px 0px 50px 0px;
  align-items: flex-start;
}
.resetformconatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#forgetpasswordform {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creatnewaccountlink {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}
.backtologinbuttoncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 6px;
}
.backtologinbutton {
  /* position: absolute; */
  border: 0;
  bottom: 10%;
  background: none;
  font-size: 14px;
  font-weight: 600;
}
.resetdivider {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 8px;
}
.orcontainer3 {
  height: 1px;
  width: 100%;
  background-color: #c8c5c5;
}
.otpfieldcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.countdown-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.timmer {
  margin-right: 30px;
  font-weight: 400;
}
.otptimmerexpiredmsg {
  font-size: 12px;
  font-weight: 400;
}
.usernamefield {
  width: 60%;
  margin: 20px 0px 5px 0px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  text-overflow: ellipsis;
}
.usernamerrormsg {
  margin: 0px 0px 3px 0;
  color: red;
}
.usernamecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.otpfield {
  width: 60%;
  padding: 8px 12px;
  margin: 5px 0px 0px 0px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  text-overflow: ellipsis;
}

.finalsubmit {
  width: 60%;
  text-align: center;
  background-color: rgb(0, 149, 246);
  padding: 8px 24px 8px 24px;
  color: white;
  border: 0;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
}
