.login {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
  max-width: 350px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 400px;
  line-height: 18px;
  vertical-align: baseline;
}

form > input {
  background-color: #ffffff24;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 20px;
  color: black;
  /* width: 350px; */
  background-size: auto;
  background: whitesmoke;
  cursor: text;
  width: 200px;
}
.login > form > input:focus {
  outline: 1px solid grey;
}

.formButton {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: stretch;
  align-content: stretch;
}

.formButton > button {
  align-items: flex-start;
  background-color: #0095f6;
  border-radius: 8px;
  color: white;
  /* display: block; */
  font-size: 14px;
  font-weight: 600px;
  border-color: #0095f6;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  position: relative;
  text-align: center;
  width: 220px;
}

.formButton > button:hover {
  cursor: pointer;
}
