.actioncontainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 0px;
}
.actionconatiner_container {
  display: flex;
}

.likesvg {
  width: 30px;
  margin-right: 1rem;
  user-select: none;
  cursor: pointer;
  /* color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255); */
}
.likesvg:focus {
  outline: none;
}
.likesvgclicked {
  width: 30px;
  fill: #f80d0d;
  color: rgb(239 68 68);
}

.likesvgnotclicked {
  width: 30px;
  fill: rgb(255, 255, 255);
}

.commentssvg {
  width: 30px;
  color: black;
  user-select: none;
  cursor: pointer;
}
.commentssvg:focus {
  outline: none;
}

.likesdisplay {
  /* padding: 1rem; */
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}
