header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.header {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 4rem;
  margin: 0 auto;
  /* max-width: 60.9375rem; */
  width: 100%;
  align-items: center;
}
.header__user-avatar {
  border-radius: 50%;
  height: 2rem;
  object-fit: cover;
  width: 2rem;
}

.mui_container_root_logout_right {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  padding-right: 1rem;
  margin-bottom: 60px;
  margin-top: 12px;
}
.mui_container_root_logout_right span:hover {
  cursor: pointer;
}

.header__user_avatar > button {
  border-radius: 50%;
  height: 2rem;
  object-fit: cover;
  width: 2rem;
  margin-bottom: 12px;
}
