.commentsModalconatiner {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
}
/* .commentsModalconatiner_section {
  max-height: 620px;
  max-width: 620px;
  aspect-ratio: 1 / 1;
  flex-basis: 620px;
} */
.modalcontainerpartitioner_left {
  flex: 1;
  /* height: fit-content; */
}
.modalcontainerpartitioner_left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* display: block; */
  /* aspect-ratio: 3/4; */
}

.modalcontainerpartitioner_right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.commentedusername {
  margin-right: 0.25rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.commentcontainer {
  padding: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}
.viewallcommentscontainer {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
  color: gray;
  margin-bottom: 0.25rem;
  cursor: pointer;
}
.commentcontainer > button {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
  color: rgb(180, 177, 177);
  margin-bottom: 0.25rem;
  cursor: pointer;
  background: none;
  border: 0;
}
.commentcontainer > button:focus {
  outline: none;
}

.posteddate {
  color: rgb(138, 136, 136);
  text-transform: uppercase;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem;
  margin-top: 0.5rem;
  border-bottom: 1px;
}

.addpostcontainer {
  border-top: solid black 1px;
  border-color: grey;
}

.addpostcontainer_container_form {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 1.25rem;
}

.addpostcontainer_container_form > input {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
  color: rgb(23, 23, 22);
  width: 100%;
  margin-right: 0.75rem;
  padding-top: 1rem; /* 16px */
  padding-bottom: 1.2rem;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem;
  border-radius: 1rem;
  border: none;
}

.addcommentbutton {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
  font-weight: 700;
  color: rgb(10, 159, 239);
  border: 0;
  background: none;
}
