.commentsModalconatiner {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
}
/* .commentsModalconatiner_section {
  max-height: 620px;
  max-width: 620px;
  aspect-ratio: 1 / 1;
  flex-basis: 620px;
} */
.modalcontainerpartitioner_left {
  flex: 1;
  width: 0;
  /* height: fit-content; */
}
.modalcontainerpartitioner_left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* display: block; */
  /* aspect-ratio: 3/4; */
}

.modalcontainerpartitioner_right {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 0;
}

.commentedusername {
  margin-right: 0.25rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.commentcontainer {
  padding-left: 2px;
  /* padding-top: 10px; */
  padding-bottom: 1rem;
}
.viewallcommentscontainer {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
  color: gray;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}
.commentcontainer > button {
  font-size: 0.875rem; /* 14px */
  padding-left: 0px;
  line-height: 1.25rem;
  color: rgb(180, 177, 177);
  /* margin-bottom: 0.25rem; */
  cursor: pointer;
  background: none;
  border: 0;
}
.commentcontainer > button:focus {
  outline: none;
}

.posteddate {
  color: rgb(138, 136, 136);
  text-transform: uppercase;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem;
  margin: 0px 0px 4px 20px;

  /* margin-top: 0.5rem; */
  /* border-bottom: 1px; */
}

.addpostcontainer {
  border-top: 1px solid rgb(225, 222, 222);
  /* border-color: grey; */
}

.addpostcontainer_container_form {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 1.25rem;
}
.addpostcontainer_container_form > input:focus {
  outline: none;
}

.addpostcontainer_container_form > input {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
  color: rgb(23, 23, 22);
  width: 100%;
  margin-right: 0.75rem;
  padding-top: 1rem; /* 16px */
  padding-bottom: 1.2rem;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem;
  border-radius: 1rem;
  border: none;
}

.addcommentbutton {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
  font-weight: 700;
  color: rgb(10, 159, 239);
  border: 0;
  background: none;
}

.commentsandlikescontainer {
  bottom: 0px;
  display: flex;
  flex-direction: column;
  /* min-width: 384px; */
  position: relative;
}

.commentsdisplaysection {
  height: 65%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.commentsdisplaysection::-webkit-scrollbar {
  display: none;
}
.commentitem {
  display: flex;
  flex-direction: row;
  padding: 10px 4px 12px 20px;
  align-items: center;
  justify-content: flex-start;
}
.posteduserdetails {
  display: flex;
  flex-direction: row;
  /* height: 70px; */
  padding: 12px 4px 12px 20px;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgb(225, 222, 222);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  /* margin-left: 20px; */
}

.postcaption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 4px 12px 20px;
}
.recentcommentitemontimeline {
  display: flex;
  margin-left: 3px;
  flex-direction: row;
  justify-content: flex-start;
}

.likecommentactions {
  border-top: 1px solid rgb(225, 222, 222);
  padding: 0px 16px 8px 20px;
  background-color: white;
}
.loadingspinner {
  position: "fixed";
  /* top: "50%";
  left: "80%"; */
  transform: translate(50%, -45%);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  animation-duration: 1.5s;
}

.loadingspinner::-webkit-scrollbar {
  display: none;
}

.nocommentscontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
}
.deletecommentbuttons {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid rgb(215, 213, 213);
  font-size: 14px;
  background-color: white;
  width: 100%;
  height: 50px;
  border-radius: 12px;
}

.deletemodaloptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .commentsModalconatiner {
    flex-direction: column;
    align-items: center;
  }
  .posteduserdetails {
    position: relative;
    height: 30px;
    background-color: white;
    border-radius: 0px;
  }
  .commentsdisplaysection {
    display: none;
  }
  .nocommentscontent {
    display: none;
  }
  .modalcontainerpartitioner_left {
    height: 100%;
    width: 100%;
  }
  .modalcontainerpartitioner_left > img {
    width: 100%;
    height: 80%;
  }
  .modalcontainerpartitioner_right {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
  .commentsandlikescontainer {
    width: 100%;
    height: fit-content;
    background-color: white;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
