.socialmediaImage {
  object-fit: contain;
  width: 100px;
  height: 50px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* /* top: 400px; **/
  position: relative;
  top: 200px;
  width: 400px;
  left: 500px;
  height: 400px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-top: 10px;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
}
