@import "react-loading-skeleton/dist/skeleton.css";

@font-face {
  font-family: "PoppinsRegular";

  src: local("PoppinsRegular"),
    url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
